---
import Deal from "@/icons/services/Deal.astro";
import Expert from "@/icons/services/Expert.astro";
import Study from "@/icons/services/Study.astro";
import Container from "@/components/Contenedor.astro";
import { SERVICES } from "@/lib/features";
import { CountUp } from "./Components-utils/CountUp";

const { id } = Astro.props;
---

<Container id={id}>
  <section class="mt-14 mx-auto">
    <h3 class="text-center text-4xl mb-16 text-[#351d13] font-bold">
      Experiencia reconocida
    </h3>
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-24 font-semibold"
    >
      {
        SERVICES.map((service) => (
          <article class="flex flex-col text-xl text-[#351d13]">
            <div class="flex flex-row items-center gap-5 justify-center mb-2">
              <p class="text-6xl tabular-nums">
                +
                <CountUp
                  client:visible
                  initial={0}
                  final={service.number}
                  delay={service.delay}
                />
              </p>
              <img
                class="size-16"
                loading="lazy"
                decoding="async"
                src={service.image}
                alt="Imagen de servicios abogada colombia"
              />
            </div>
            <p class="font-extralight">{service.content}</p>
          </article>
        ))
      }
    </div>

    <footer class="my-10 mt-14">
      <div class="cards">
        <div class="relative card color">
          <div>
            <Study class="size-10 mt-2" />
          </div>

          <p class="tip font-extrabold">Profesional Capacitado</p>
          <p class="second-text font-extralight">
            Abogada especialista en la rama del derecho laboral, protegiendo sus
            intereses.
          </p>
        </div>
        <div class="relative card color">
          <div>
            <Expert class="size-10 mt-2" />
          </div>
          <p class="tip font-extrabold">Abogada experta</p>
          <p class="second-text font-extralight">
            Abogados expertos dispuestos a prestarle un servicio de la mejor
            calidad.
          </p>
        </div>
        <div class="relative card color">
          <div>
            <Deal class="size-10 mt-2" />
          </div>
          <p class="tip font-extrabold">Servicio Amigable</p>
          <p class="second-text font-extralight">
            Ofrecer soluciones legales, dispuesta a orientarlos y defender sus
            derechos.
          </p>
        </div>
      </div>
    </footer>
  </section>

  <style>
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .cards .color {
      background-color: #ebac2ed0;
    }

    .cards .card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      height: 170px;
      width: 250px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: 400ms;
      position: relative;
      padding: 0px 15px;
    }

    .cards .card p.tip {
      font-size: 17px;
      font-weight: bolder;
      color: #351d13;
    }

    .cards .card p.second-text {
      font-size: 13px;
    }

    .cards .card:hover {
      transform: scale(1.1, 1.1);
    }

    .cards:hover > .card:not(:hover) {
      filter: blur(10px);
      transform: scale(0.9, 0.9);
    }
  </style>
</Container>
