---
import { CITY } from "../lib/city";
import Container from "@/components/Contenedor.astro";
---

<Container>
  <section
    class="grid grid-cols-10 auto-rows-[400px] gap-5 mx-auto px-10 text-white/80 my-10"
  >
    {
      CITY.map((cities) => (
        <article
          class={`${cities.class} relative group overflow-hidden rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10`}
        >
          
          <div class="absolute z-100 bottom-0 top-0 size-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80" />
          <div
            class="absolute left-0 top-0 bottom-0 object-cover object-center w-full
      h-full group-hover:scale-110 group-hover:bg-white transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-transparent -z-10"
            style=`background-image: url("${cities.img}");`
          />
          <div class="relative select-none flex flex-col gap-1 p-4 text-lg z-20 justify-end h-full">
            <h2 class="text-3xl font-bold text-balance text-[#f1e9d0] mb-1">
              {cities.title}
            </h2>
            {cities.subTitle && (
              <h4 class="text-xl font-bold  text-[#f1e9d0]">
                {cities.subTitle}
              </h4>
            )}
            <p class="max-w-xl text-base">{cities.description}</p>
          </div>
        </article>
      ))
    }
  </section>
</Container>
