---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<meta charset="utf-8" />
<!--ver la aplicación de diferentes resoluciones mobile, desktop, tablet -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="theme-color" content="#e3ac20" />
<meta
  name="keywords"
  content="abogada, abogado, abogados, abogadoscolombia, abogadosboyaca, abogados, abogadoschiquinquira, legal, abogacía, procesos,
    civil, familiar, laboral, administrativo, penal, chiquinquirá, sandra alba, dra sandra alba
  "
/>
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="canonical" href={canonicalURL} />

<!-- Global Metadata -->
<link rel="icon" type="image/svg+xml" href="logo.avif" />
<meta name="google" content="notranslate" />
<link rel="apple-touch-icon" href="logo.avif" />
<meta name="msapplication-TileColor" content="#7f4f29" />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="logo.avif" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="logo.avif" />
<meta name="twitter:image:alt" content={title} />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
